{% extends "base.html" %}

{% block title %}オーダー表{% endblock %}

{% block main %}
<div class="container">
    <h2>オーダーリスト</h2>
    
    <form action="{% url 'jazzcafe:update_order_status' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary btn-lg w-100">更新</button>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">受付時間</th>
            <th scope="col">テーブル番号</th>
            <th scope="col">飲み物</th>
            <th scope="col">砂糖</th>
            <th scope="col">ミルク</th>
            <th scope="col">スイーツ</th>
            <th scope="col">提供した</th>
          </tr>
        </thead>
        {% for order in orders %}
        <tbody>
          <tr>
            <td>{{order.register_datetime}}</td>
            <td>{{order.table_number}}</td>
            <td>
              {% if order.drink is None %}
              ×
              {% else %}
              {{order.drink}}
              {% endif %}
            </td>
            <td>
              {% if order.is_suger == True %}
              ○
              {% else %}
              ×
              {% endif %}
            </td>
            <td>
              {% if order.is_milk == True %}
              ○
              {% else %}
              ×
              {% endif %}
            </td>
            <td>
              {% if order.treat is None %}
              ×
              {% else %}
              {{order.treat}}
              {% endif %}
            </td>

            <td><input type="checkbox" class="form-check-input" name="selected_items" value="{{order.id}}"></td>

          </tr>
        </tbody>
        {% endfor %}
      </table>
    </form>
</div>
{% endblock %}

